.myHeader {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #efefef;
}

.myHeader h2 {
    flex-grow: 1;
    margin: 0;
}

.myHeader ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.myHeader ul li {
    margin-right: 1rem;
}
